.white-color{
	color: #fff;
}


.blue-color{
	color:;
}


.centered-text{
	text-align: center;
}

.pull-center{
	float: none;
	margin: auto;
}


 .dominant-white-color,
 .dominant-white-color *
 {
 	color: #fff !important;
 }


.bottom-space{
	margin-bottom: 40px;
}

.bottom-space.md,
.bottom-space-md
{
	margin-bottom: 20px;
}

.bottom-space.sm,
.bottom-space-md
{
	margin-bottom: 10px;
}


.clear{
	clear: both !important;
}

.msg-list > li{
	border: none ;
	border-bottom:  1px solid #eee;
}


.media .std-btn{
	padding: 0;
}


.msg-header .btn.btn-create-msg {
	padding: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border-width: 2px;
	width: auto;
	height: 35px;
	color: #fff;
	margin-right: 5px;
	vertical-align: middle;
	padding: 4px 15px;
}


.msg-header .btn.btn-create-msg:hover {
	border-color: #398439;
	background: #398439;
	color: #fff;
}

.control-label{
	text-align: right;
}


.packages .package{
	margin: 10px 5px;

}

.packages .package .block{
	min-height: 100px;
}

.send-option{
	display: none;
}


.send-option.active{
	display: block;
}

.msg-header a.btn-navi {
	line-height: 33px;
}

.panel-signin, .panel-signup {
	margin: 30px auto 0 auto;
}


/*pagination */


.pagination.pagination-circled > .active > a, 
.pagination.pagination-circled > .active > span, 
.pagination.pagination-circled > .active > a:hover, 
.pagination.pagination-circled > .active > span:hover, 
.pagination.pagination-circled > .active > a:focus, 
.pagination.pagination-circled > .active > span:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #428bca;
	border-color: #428bca;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}


.pagination.pagination-circled > .disabled>span, 
.pagination.pagination-circled > .disabled>span:hover, 
.pagination.pagination-circled>.disabled>span:focus, 
.pagination.pagination-circled >.disabled>a, 
.pagination.pagination-circled >.disabled>a:hover, 
.pagination.pagination-circled >.disabled>a:focus {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.update-account-profile-pic{

}

.update-account-profile-pic img{
	width: 100%;
}


.inbox.media-list.msg-list .media.unread{
	*background: #fafafa;
}

.circled-icon{

	display: inline-block;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	line-height: 32px;
	background: #fff;
	border: 1px solid #ccc;

	padding: 0;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	border-width: 2px;
	width: 35px;
	height: 35px;
	color: #999;
	margin-right: 5px;
}


.lang-selection{
	margin-top: 2px;
	background: rgba(0,0,0,0.1);
	padding: 5px 10px;
	width: auto;
	border-radius: 4px;
}

.lang-selection img{
	width: 16px;
	height: 11px;
}

.lang-selection a:not(:first-child){
	margin-left: 5px;
}